@model Model.VM.vmFaturamentoTotal

@{
    ViewBag.Title = "Faturamentos Totais";
}

<h2>Faturamentos Por Período (@ViewBag.AnoEscolhido)</h2>

@ViewBag.PedidosEnvolvendoOProduto

<hr />

<a href="@Url.Action("Faturamento", "DetalhesPedido", new {anoEscolhido = 2018})" class="btn btn-success btn-lg">2018 <span class="glyphicon glyphicon-signal"></a>
<a href="@Url.Action("Faturamento", "DetalhesPedido", new {anoEscolhido = 2017})" class="btn btn-success btn-lg">2017 <span class="glyphicon glyphicon-signal"></a>
<a href="@Url.Action("Faturamento", "DetalhesPedido", new {anoEscolhido = 2016})" class="btn btn-success btn-lg">2016 <span class="glyphicon glyphicon-signal"></a>
<a href="@Url.Action("Faturamento", "DetalhesPedido", new {anoEscolhido = 2015})" class="btn btn-success btn-lg">2015 <span class="glyphicon glyphicon-signal"></a>
<a href="@Url.Action("Faturamento", "DetalhesPedido", new {anoEscolhido = 2014})" class="btn btn-success btn-lg">2014 <span class="glyphicon glyphicon-signal"></a>

<hr />

<h2> View</h2>

<hr />

@using (Html.BeginForm("Faturamento", "DetalhesPedido", FormMethod.Get))
{
<p>
    Produto Específico
    @Html.DropDownList("ProdutoID", ViewBag.ProdutosDropDown as SelectList)

    @Html.Hidden("anoEscolhido", (string) ViewBag.AnoEscolhido)
    <input class="btn btn-primary" type="submit" value="Buscar por Produto" />
</p>
}

<hr />

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ano</th>
                <th scope="col">Mês</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Faturamentos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ano)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mesNome)
                    </td>
                    <td>
                        R$@Html.DisplayFor(modelItem => item.valorTotal)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a href="@Url.Action("ExportPDF", "DetalhesPedido",new {anoEscolhidoEmTela = @ViewBag.AnoEscolhido})"> Exportar PDF </a>