@model PagedList.IPagedList<Model.DAO.Cliente>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

@using (Html.BeginForm("Index", "Clientes", FormMethod.Get))
{
    <p>
        Nome do Cliente: @Html.TextBox("textoBuscado")
        <input class="btn-primary" type="submit" value="Buscar" />
    </p>

    <p>
        @Html.ActionLink("A", "Index", new { textoBuscado = "A", metodo = "inicial" })
        @Html.ActionLink("B", "Index", new { textoBuscado = "B", metodo = "inicial" })
        @Html.ActionLink("C", "Index", new { textoBuscado = "C", metodo = "inicial" })
        @Html.ActionLink("D", "Index", new { textoBuscado = "D", metodo = "inicial" })
        @Html.ActionLink("E", "Index", new { textoBuscado = "E", metodo = "inicial" })
        @Html.ActionLink("F", "Index", new { textoBuscado = "F", metodo = "inicial" })
        @Html.ActionLink("G", "Index", new { textoBuscado = "G", metodo = "inicial" })
        @Html.ActionLink("H", "Index", new { textoBuscado = "H", metodo = "inicial" })
        @Html.ActionLink("I", "Index", new { textoBuscado = "I", metodo = "inicial" })
        @Html.ActionLink("J", "Index", new { textoBuscado = "J", metodo = "inicial" })
        @Html.ActionLink("K", "Index", new { textoBuscado = "K", metodo = "inicial" })
        @Html.ActionLink("L", "Index", new { textoBuscado = "L", metodo = "inicial" })
        @Html.ActionLink("M", "Index", new { textoBuscado = "M", metodo = "inicial" })
        @Html.ActionLink("N", "Index", new { textoBuscado = "N", metodo = "inicial" })
        @Html.ActionLink("O", "Index", new { textoBuscado = "O", metodo = "inicial" })
        @Html.ActionLink("P", "Index", new { textoBuscado = "P", metodo = "inicial" })
        @Html.ActionLink("Q", "Index", new { textoBuscado = "Q", metodo = "inicial" })
        @Html.ActionLink("R", "Index", new { textoBuscado = "R", metodo = "inicial" })
        @Html.ActionLink("S", "Index", new { textoBuscado = "S", metodo = "inicial" })
        @Html.ActionLink("T", "Index", new { textoBuscado = "T", metodo = "inicial" })
        @Html.ActionLink("U", "Index", new { textoBuscado = "U", metodo = "inicial" })
        @Html.ActionLink("V", "Index", new { textoBuscado = "V", metodo = "inicial" })
        @Html.ActionLink("W", "Index", new { textoBuscado = "W", metodo = "inicial" })
        @Html.ActionLink("X", "Index", new { textoBuscado = "X", metodo = "inicial" })
        @Html.ActionLink("Y", "Index", new { textoBuscado = "Y", metodo = "inicial" })
        @Html.ActionLink("Z", "Index", new { textoBuscado = "Z", metodo = "inicial" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Endereco.Rua)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Rua)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClienteID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClienteID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClienteID })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
